<div class="intro-bg">
  <img src="assets/images/rxjs.jpg" alt="logo" />
</div>

<h1>Introduction</h1>
<p>
  <small>This is an Angular application where I gonna learn RxJS in scope of the framework by solving different tasks</small>
</p>
<p>
  <small>With help of <b>ChatGPT</b> generated tasks I will dive deep into each operator to learn it and use on practice</small>
</p>
<p>
  <small>General idea is to learn as much as possible to be on top</small>
</p>

<h4>Context to learn</h4>

<ul>
  <li>
    <a routerLink="">Combinational operators</a>
  </li>
  <li>
    <a routerLink="">Conditional operators</a>
  </li>
  <li>
    <a routerLink="">Creational operators</a>
  </li>
  <li>
    <a routerLink="">Transformational operators</a>
  </li>
  <li>
    <a routerLink="">Filtering operators</a>
  </li>
  <li>
    <a routerLink="">Multicasting</a>
  </li>
  <li>
    <a routerLink="">Subjects</a>
  </li>
  <li>
    <a routerLink="">Error handling</a>
  </li>
  <li>
    <a routerLink="">Utility</a>
  </li>
</ul>
