@use "../../../../../../variables" as vars;

:host {
  display: block;
  border-radius: 1em;
  background-color: vars.$sidebar-background;
  padding: 1em;

  form {
    display: flex;
    gap: 1em;

    div {
      display: flex;
      gap: 0.5em;
      align-items: center;
    }
  }

}
