@use "./variables" as vars;

html, body {
  margin: 0;
  height: 100%;
  width: 100%;
  background-color: vars.$app-background;
  color: vars.$text-color;
  font-family: sans-serif;
  overflow: hidden;
}
